.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;
    
    .title{
        margin-bottom: 5px;
    }
    .sub-title{
        margin-bottom: 0px;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        margin-right: 15px;

    }
}